# Node
node_modules/
npm-debug.log
pnpm-lock.yaml
package-lock.json

# .NET build
bin/
obj/
*.user
*.usertasks

# IDE
.vs/
.idea/
*.suo
*.userosscache
*.sln.docstates

# macOS
.DS_Store

# Visual Studio for Mac
*.userprefs

# Logs
*.log

# Maui generated assets
**/Platforms/Windows/Images/
**/Resources/Raw/**
